@import "../../app.scss";


.portfolio{
    position: relative;

    @include mobile{
        padding-top: 20px;
        transform: none !important;
    }
    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: #ffb703;
        font-size: 36px;



        @include mobile{
            
            font-size: 24px;
            transform: none !important;
            
            
            
        }

        h1{
            margin-top: -30px;
        }

        .progressBar{
            height: 10px;
            background: white;
            @include mobile{
                display: none;
            }
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;



        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;



            @include mobile{
                flex-direction: column;
                transform: none !important;
                gap: 0;

            }
        

            .imageContainer{
                flex: 1;
                height: 50%;

                @include mobile{
                    width: 90%;
                    margin-top: 100px;
                    
                }


                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;


                    @include mobile{
                        object-fit: contain;
                        
                        
                    }
                }
            }
        

            .textContainer{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 30px;

                @include mobile{
                    margin-top: 0;
                    transform: none !important;
                    gap: 10px;
                    align-items: center;
                    text-align: center;
                    
                }


                h2{
                    font-size: 72px;

                    @include mobile{
                        font-size: 36px;
                        
                        
                    }
                }

                p{
                    color: gray;
                    font-size: 20px;

                    @include mobile{
                        font-size: 16px;
                
                        
                    }
                } 

                button{
                    background: #fb8500;
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    width: 200px;
                    cursor: pointer;
                }


                button:hover, button:focus{
                    background: #ffb703;
                    color: white;
                }

            }
        }
    }
}