@import "../../app.scss";

.about{
    padding-top: 50px;
    .textContainer{
        height: 100%;
        max-width: 1366px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @include mobile{
            padding: 20px;
        }
    }

    h1{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: #ffb703;
        font-size: 36px;
    }
}